---
import Container from '@/components/Container.astro';
import { getSiteConfig } from '@/lib/config';

const config = getSiteConfig();
---

{config.elements.footer && (
  <Container as='footer' class='pt-24'>
    <p class="text-center text-muted-foreground text-sm">
      &copy; {new Date().getFullYear()} Jakkrapat Ampring
    </p>
  </Container>
)}